@import url("https://fonts.googleapis.com/css2?family=News+Cycle&family=Oswald:wght@200&family=Smooch+Sans:wght@200&family=Ultra&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

:root {
  --font-base: "News Cycle", sans-serif;
  --font-alt: "Ultra", sans-serif;
  --color-bg-primary: #fff;
  --font-color-primary: #000;
  --font-color-hover: #99a3a4;
}

body {
  height: 100vh;
  line-height: 2.5em;
  font-size: 16px;
  display: grid;
  grid-template-columns: 100%;
  background: var(--color-bg-primary);
}

/*
body::after {
  content: "";
  background: url(../src/assets/site_bg.jpg);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/
